@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

@import url(http://fonts.googleapis.com/css?family=Cutive%20Mono:400);

body {
  font-family: "Fira Code", "Cutive Mono";
  font-weight: 400;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#colorBox {
  width: 120px;
  height: 120px;
  margin: 15px auto;
  display: none;
  border: 1px solid #000;
}

.colorBoxContainer {
  background-color: #e8ebee;
  border-radius: 5px;
  height: 170px;
  width: 50%;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.color-options {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.color-option {
  width: 60px;
  height: 60px;
  cursor: pointer;
  border: 1px solid #000;
}

.wrong {
  animation: fadeOut 0.5s ease-in-out;
}

#gameStatus {
  margin-top: 15px;
  font-weight: bold;
}

button, #colorBox {
  border-radius: 3px;
}

#newGameButton {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  font-family: "Fira Code", "Cutive Mono";
}

#newGameButton:hover, #newGameButton:focus {
	background-color: #000;
	color: #fff;
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0.3; }
}

.correct {
  animation: glow 1s ease-in-out;
}

@keyframes glow {
  0% { box-shadow: 0 0 5px rgba(0, 255, 0, 0.5); }
  50% { box-shadow: 0 0 20px rgba(0, 255, 0, 1); }
  100% { box-shadow: 0 0 5px rgba(0, 255, 0, 0.5); }
}